<configuration debug="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- file>${catalina.base}/logs/invoiceportal-gateway.log</file -->
		<file>/tmp/rest-server.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
     		<fileNamePattern>/tmp/rest-server.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="org.springframework.ws.server.MessageTracing.received" level="TRACE" />
	<logger name="org.springframework.ws.server.MessageTracing.sent" level="DEBUG" />

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<!-- appender-ref ref="FILE" /-->
	</root>
</configuration>